.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0;

	&__hamburger {
		border: none;
		display: flex;
		flex-direction: column;
		gap: 6px;
		cursor: pointer;
		z-index: 100;
		padding: 3vh 2vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border-radius: 1000px;
		position: fixed;
		top: 2%;
		right: 2%;
		transition: background 0.4s ease-in-out;

		.line {
			width: 30px;
			height: 1.5px;
			background-color: var(--color-primary);
			transition: all 0.4s ease-in-out;
		}

		&--active {
			background-color: white;
			.line:first-of-type {
				transform: rotate(45deg) translate(5.5px, 5.5px);
			}
			.line:nth-of-type(2) {
				opacity: 0;
				transform: translateX(-100%);
			}
			.line:last-of-type {
				transform: rotate(-45deg) translate(5.5px, -5.5px);
			}
		}
	}

	

	&__menu {
		position: fixed;
		left: 0;
		top: -100%;
		width: 100%;
		height: 100%;
		background-color: var(--color-background--dark--opacity);
		z-index: 10;
		transition: top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

		&--active {
			top: 0;
		}

		&__list {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			background-color: var(--color-background--dark--dark);
			list-style: none;
			color: var(--color-text--light);
			margin-left: 0rem;
			display: flex;
			gap: 5vh;
			flex-direction: column;
			padding: 10vh 0;
		}

		&__item {
			padding: 1rem 2rem;
			@include fluid-type(430px, 1440px, 30px, 60px);
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			background: linear-gradient(to right, rgba(255, 255, 255, 0.232), white);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 0% 1.5%;
			cursor: pointer;
			transition: background 0.4s ease-in-out;

			&:hover {
				background-size: 70% 1%;
			}
		}
	}

}