.services {
	@include page-grid;

	&__heading {
		color: var(--color--blue);
		display: flex;
		align-items: flex-start;
		gap: 3rem;
	}

	&__left {
		height: 100%;
	}

	&__image {
		height: 100%;
	}

	&__right {
		margin-top: 16rem;
		margin-bottom: 16rem;
	}

	&__content {
		max-width: 65ch;
	}

	&__text {
		margin-bottom: 4.8rem;
		@include fluid-type(320px, 1440px, 14px, 18px);
	}

	@media screen and (max-width: 738px) {
		&__left {
			grid-column: 5/span 4;
		}

		&__right {
			grid-column: 2/span 11;
		}
	}
}