.text-rows {
	&__list {
		list-style: none;
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}

	&__heading {
		display: flex;
		align-items: center;
		gap: 3rem;
	}

	&__item {
		display: flex;
		align-items: center;
		@include fluid-type(320px, 1440px, 14px, 18px);

		svg path {
			fill: var(--color-button--orange)
		}
	}
}