.text-columns {
	@include page-grid;

	&__heading {
		display: flex;
		align-items: center;
		gap: 0.5ch;
	}
	.button {
		margin-left: auto;
	}

	@media screen and (max-width: 738px) {
		&__heading {
			grid-column: 2/span 11;
		}
		p {
			grid-column: 2/span 11;
		}

	}
}

