:root {
	--font-primary: sans-serif;

	--color-primary: #1f1f1f;
	--color-secondary: #ffffff;
	--color--blue: #252D4A;
	--color--beige: #F1DABA;
	--color--dark--beige: #d2b992;
	--color--orange: #BF4A2F;

	@media (prefers-color-scheme: light) {
		--color-primary: #ffffff;
		--color-secondary: #1f1f1f;
		--color--blue: #dbe0f5;
		--color-background--beige: #3b3b3b;	
		--color-text--dark: #7787c8;
		--color-text--light: #ffffff;
	}

	--color-background--light: #ffffff;
	--color-background--beige: #f4f3f1;
	--color-background--dark: #252D4A;
	--color-background--dark--opacity: #1c1c1cdb;
	--color-background--dark--dark: #202020;

	--color-button--dark: #252D4A;
	--color-button--orange: #DD9360;
	--color-button--dark--hover: #252D4A;

	--color-button--light: #ffffff;
	--color-button--light--hover: #737373;

	--color-button-text--dark: #252D4A;
	--color-button-text--light: #ffffff;

	--color-text--dark: #252D4A;
	--color-text--light: #aaaaaa;
	--color-text--white: #ffffff;

	--desktop-width: 1440;
	--mobile-width: 430;
}