:root {
	--font-primary: sans-serif;

	--color-primary: #1f1f1f;
	--color-secondary: #ffffff;
	--color--blue: #252D4A;

	--color-background--light: #ffffff;
	--color-background--beige: #f4f3f1;
	--color-background--dark: #252D4A;

	--color-button--dark: #252D4A;
	--color-button--orange: #BF4A2F;
	--color-button--dark--hover: #252D4A;

	--color-button--light: #ffffff;
	--color-button--light--hover: #737373;

	--color-button-text--dark: #252D4A;
	--color-button-text--light: #ffffff;

	--color-text--dark: #252D4A;
	--color-text--light: #aaaaaa;
	--color-text--white: #ffffff;

	--desktop-width: 1440;
	--mobile-width: 430;
}