// Abstracts
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Base
@import 'base/reset';
@import 'base/animations';
@import 'base/base';
@import 'base/container';
@import 'base/section';
@import 'base/typography';
@import 'base/animations';
@import 'base/grid';

// Components
@import 'components/button';
@import 'components/arrow-section';
// @import 'components/image-wrapper';
// @import 'components/parralax-image';

// Layout
@import 'layout/header';
@import 'layout/hero';
@import 'layout/text-columns';
@import 'layout/text-rows';
@import 'layout/projects';
@import 'layout/services';
@import 'layout/side-logo';
@import 'layout/list';
@import 'layout/company';
@import 'layout/image-grid';
@import 'layout/footer';
